

.back-beige {
    background-color: #f5f5dc!important;
}

.back-taupe {
    background-color: #927C66 !important;
}

.back-blanc{
    background-color: #ffffff!important;
}

.beige{
    color: #f5f5dc !important;
}

.taupe {
    color: #927C66 !important;
}

.blanc{
    color: #ffffff !important;
}
