

.back-beige {
    background-color: #f5f5dc!important;
}

.back-taupe {
    background-color: #927C66 !important;
}

.back-blanc{
    background-color: #ffffff!important;
}

.beige{
    color: #f5f5dc !important;
}

.taupe {
    color: #927C66 !important;
}

.blanc{
    color: #ffffff !important;
}

                img:hover {
                    transform: scale(1.1) rotate(5deg);
                    border: 2px solid black;
                    box-shadow: 10px 5px 5px black;
                }
        
                .hoverable {
                    position: relative;
                }
        
                .hoverable:hover {
                    z-index: 10;
                    border: 2px solid black;
                    box-shadow: 10px 5px 5px black;
                    transform: scale(1.1) rotate(-1.2deg);
                }
        
                .title {
                    z-index: 10;
                }

                                .prediction-container {
                                    background-color: #927C66;
                                    padding: 10px;
                                    border-radius: 5px;
                                    margin-top: 10px;
                                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                                }
                
                                .prediction-container h4 {
                                    color: #927c66;
                                    font-size: 18px;
                                    font-weight: bold;
                                    margin-bottom: 8px;
                                }
                
                                .prediction-container ul {
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
                                }
                
                                .prediction-container li {
                                    margin-bottom: 4px;
                                    font-size: 16px;
                                    color: #555;
                                }
